body {
  background-color: #FCFCFC;
  font-family: 'Nunito', sans-serif;
  margin: 3rem;
}

h1 {
  font-size: 1.3rem;
  font-family: "Montserrat", Helvetica, Roboto, Arial;
  font-weight: 600;
}

.header-nav {
  text-align: center;
  margin-bottom: 3rem;
}

.header-nav img {
  margin-bottom: 1rem;
}

.header-nav-subtitle {
  font-size: 1rem;
  letter-spacing: .05rem;
}

.header-nav-link {
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  letter-spacing: .05rem;
}

.header-nav-link:hover {
  color: #bb7676;
}

.is-active{
  color: #7b183e;
}

.content {
  margin: 2.5rem 0;
}

.about-pic {
  margin-bottom: 1rem;
}

.contact-form-field {
  border-radius: .2rem;
  border-color: #ccc;
  box-shadow: none;
  background-color: #FCFCFC;
}

.contact-form-field:focus {
  background-color: #FFF;
  border-color: #f46f62;
  box-shadow: none;
}

.contact-submit {
  padding: 1rem 2rem;
  background-color: #000;
  text-transform: uppercase;
  letter-spacing: .05rem;
}

.contact-submit:hover {
  background-color: #f42f62;

}
